section.firm-description 
  .container 
    // ----------------
    // Firm description
    // ----------------
    .firm-description-container
      .firm-description-info 
        h1.firm-description__title О нас
        p.firm-description__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veniam repellendus, molestias deleniti delectus quos molestiae corrupti dignissimos fuga sit totam voluptates facere doloremque consectetur inventore dicta, natus iste ab?
        p.firm-description__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veniam repellendus, molestias deleniti delectus quos molestiae corrupti dignissimos fuga sit totam voluptates facere doloremque consectetur inventore dicta, natus iste ab?
        p.firm-description__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veniam repellendus, molestias deleniti delectus quos molestiae corrupti dignissimos fuga sit totam voluptates facere doloremque consectetur inventore dicta, natus iste ab?