section.contact
  .container 
   .contact-container
    .contact-header
      h2.contact-header__title Оставить заявку
      p.contact-header__text Отправьте заявку, и мы свяжемся с Вами в ближайшее время. Будем рады проконсультировать Вас +7 (985) 141-07-07
    .contact-footer 
      form.contact-form(action="#", method="post")
        .contact-form__input-container
          input.contact-form__input(type="text" placeholder="Имя")
          input.contact-form__input(type="email", name="email" placeholder="Ваш Email")
        textarea.contact-form__textarea(name="", cols="30", rows="8" placeholder="Сообщение")
        a.work-steps-measure-call__btn.contact-form__btn(type="submit") Отправить
      .contact-info
        .contact-info-wrap
          h4.contact-info__title Контакты
          p.contact-info__line 
            span.title_marked Адрес: 
            span г. Санкт-Петербург, ул. Неизвестная, д.1, к.1
          p.contact-info__line 
            span.title_marked E-mail: 
            span masterotdelkin@gmail.com
          p.contact-info__line 
            span.title_marked Телефон: 
            span +7 (921) XXX - XX - XX