section#contact.contact
  .container 
    // ---------------
    // Contacts header
    // ---------------
   .contact-container
    .contact-header
      h2.contact-header__title Оставить заявку
      p.contact-header__text Отправьте заявку, и мы свяжемся с Вами в ближайшее время. Будем рады проконсультировать Вас +7 (991) 021-22-60
    .contact-footer 
      form.contact-form(action="assets/php/action.php" method="post" name="footer-recall-form")
        .contact-form__input-container
          input.contact-form__input(type="text" id="name" name="name" minlength="2" maxlength="20" pattern="^[а-яА-ЯёЁa-zA-Z]{1,20}$" placeholder="Ваше имя" onkeypress="noDigits(event)" required)
          input.contact-form__input(type="tel" id="phone2" name="phone" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" minlength="20" maxlength="20" placeholder="+7 (999) 999-99-99" required)
        textarea.contact-form__textarea(type="textarea" name="message" placeholder="Сообщение")
        button.btn.contact-form__btn(type="submit") Отправить
      // -----------------------------
      // Adress, telefone, e-mail info
      // -----------------------------
      .contact-info
        .contact-info-wrap
          h4.contact-info__title Контакты
          p.contact-info__line 
            span.title_marked Адрес: 
            span г. Санкт-Петербург, Братский Бульвар, д. 8
          p.contact-info__line 
            span.title_marked Адрес: 
            span г. Москва, проезд Серебрякова, д.6, ДЦ «Серебрякова»
          p.contact-info__line 
            span.title_marked Адрес офиса: 
            span г. Санкт-Петербург, площадь Конституции, д. 7, БЦ «Лидер»
          p.contact-info__line 
            span.title_marked Адрес склада: 
            span г. Москва, Рябиновая 46, строение 15
          p.contact-info__line 
            span.title_marked E-mail: 
            span zakaz@deloremontov.ru
          p.contact-info__line 
            span.title_marked E-mail: 
            span stopzvuk-msk@mail.ru
          p.contact-info__line 
            span.title_marked Телефон: 
            span +7 (991) 021 - 22 - 60
          p.contact-info__line 
            span.title_marked Телефон: 
            span +7 (903) 798 - 50 - 01 
          p.contact-info__line 
            span.title_marked Телефон: 
            span +7 (495) 798 - 50 - 01