section.about-us
  .container 
    // ---------------
    // About us header
    // ---------------
    .about-us-container 
      .about-us-info 
        h2.about-us-info__title Почему 
          span.title_marked нас 
          span выбирают
        p.about-us-info__text Мы понимаем, что Вам нужно! Избавим от головной боли и лишних хлопот. Возьмем на себя ответственность и не заставим вдаваться в подробности. Мы с удовольствием поможем Вам создать приятную и уютную атмосферу!
      // -------------------------
      // Advantage table container
      // -------------------------
      .about-us-advantages-container
        ul.about-us-advantages-table
          li.about-us-box 
            .about-us-box-wrap
              h4.about-us-box__title Скорость
              p.about-us-box__text Ремонт от 21 дня - благодаря большому количеству профессионалов
          li.about-us-box 
            .about-us-box-wrap
              h4.about-us-box__title Честная цена
              p.about-us-box__text Без скрытых дополнительных платежей
          li.about-us-box 
            .about-us-box-wrap
              h4.about-us-box__title Выгодно
              p.about-us-box__text Цена ниже, чем у конкурентов. Подарки каждому
          li.about-us-box 
            .about-us-box-wrap
              h4.about-us-box__title Качество работ
              p.about-us-box__text Высококлассные специалисты со стажем от 5 лет. Ежедневный контроль качества
          li.about-us-box 
            .about-us-box-wrap
              h4.about-us-box__title Удобно
              p.about-us-box__text Мы выполняем весь комплекс работ и услуг по ремонту и отделке помещений
          li.about-us-box 
            .about-us-box-wrap
              h4.about-us-box__title Работаем по договору
              p.about-us-box__text Предоставляем гарантию на работы от 24 месяцев
          

