// Style the tab
.calc-tabs
  overflow: hidden
  background-color: #f1f1f1

.firstTab
  border-radius: 15px 0 0 0

.lastTab
  border-radius: 0 15px 0 0

// Style the buttons that are used to open the tab content
.calc-tablink 
  background-color: #868686
  font-family: "Montserrat", sans-serif
  font-size: 22px
  font-weight: 600
  color: #252525
  border: none
  outline: none
  cursor: pointer
  padding: 14px 16px
  transition: 0.3s
  float: left
  
// Change background color of buttons on hover
.calc-tablink:hover
  background-color: #5f5f5f


// Create an active/current tablink class
.calc-tablink.active 
  background-color: #fac106


// Style the tab content
.calc-tabcontent
  display: none
  padding: 40px 12px
  border: 1px solid #ccc
  border-top: none
  background-color: #fac106

.calc-form
  display: flex
  flex-direction: row
  gap: 0 50px
  justify-content: center

.calc__service-name,
.calc__work-area,
.calc-building-type,
.calc-add-services,
.calc-estimate
    font-family: "Roboto", sans-serif
    font-size: 22px
    font-weight: 600
    color: #313131
    padding: 15px 0

.calc__input
  padding: 5px 10px
  font-size: 18px
  width: 270px

.calc-building-type__radio-btn
  width: 25px
  height: 25px

.calc-building-type__name
  font-family: "Roboto", sans-serif
  font-size: 18px
  font-weight: 500

.calc-add-service
  display: flex
  align-items: center
  padding: 10px 0

.calc-add-service__checkbox
  height: 25px
  width: 25px

.calc-add-service__name
    font-family: "Rubik", sans-serif
    font-size: 18px
    font-weight: 500

.calc-img
  width: 800px
  height: 550px

.calc-img-wrap
  box-shadow: 1px 1px 8px #000

.calc-building-type-wrap
  display: flex
  align-items: center
  padding: 10px 0

.calc-estimate__btn
  display: block
  font-family: "Roboto", sans-serif
  font-size: 16px
  font-weight: 500
  padding: 10px 15px
  margin-top: 15px