section.calc 

    .calc-container 
      .calc-tabs 
        button#defaultOpen.calc-tablink.active.firstTab(onclick="openCalc(event, 'apartment')") Квартира
        button.calc-tablink(onclick="openCalc(event, 'room')") Комната
        button.calc-tablink(onclick="openCalc(event, 'kitchen')") Кухня
        button.calc-tablink(onclick="openCalc(event, 'bathroom')") Ванная
        button.calc-tablink(onclick="openCalc(event, 'building')") Дом
        button.calc-tablink.lastTab(onclick="openCalc(event, 'office')") Офис

      #apartment.calc-tabcontent 
        form.calc-form(action="calculate.php" method="post") 

          .calc-form__left
            h4.calc__service-name Выберите вид ремонта
            input.calc__input(type="text")

            h4.calc__work-area Укажите общую площадь
            input.calc__input(type="number", name="" placeholder="100")

            h4.calc-building-type Выберите тип недвижимости
            .calc-building-type-wrap 
              input.calc-building-type__radio-btn(type="radio", name="building-type")
              span.calc-building-type__name Первичная недвижимость
            .calc-building-type-wrap
              input.calc-building-type__radio-btn(type="radio", name="building-type")
              span.calc-building-type__name Вторичная недвижимость
          .calc-form__center
            h4.calc-add-services Выберите дополнительные услуги
            p.calc-add-service
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание пола
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание стен
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание потолка
            p.calc-add-service
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена электрики
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена системы водоснабжения
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена системы отопления

            h4.calc-estimate Введите адрес электронной почты
            input.calc__input.calc-estimate__adress(type="email")

            button.calc-estimate__btn(type="submit") Рассчитать

          .calc-form__right 
            .calc-img-wrap
              img.calc-img(src="assets/images/dest/apartment.jpg" alt="apartment") 

      #room.calc-tabcontent 
        form.calc-form(action="calculate.php" method="post") 

          .calc-form__left
            h4.calc__service-name Выберите вид ремонта
            input(type="text")

            h4.calc__work-area Укажите общую площадь
            input(type="number", name="" placeholder="100")

            h4.calc-building-type Выберите тип недвижимости
            .calc-building-type-wrap 
              input.calc-building-type__radio-btn(type="radio", name="building-type")
              span.calc-building-type__name Первичная недвижимость
            .calc-building-type-wrap
              input.calc-building-type__radio-btn(type="radio", name="building-type")
              span.calc-building-type__name Вторичная недвижимость
          .calc-form__center
            h4.calc-add-services Выберите дополнительные услуги
            p.calc-add-service
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание пола
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание стен
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание потолка
            p.calc-add-service
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена электрики
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена системы водоснабжения
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена системы отопления

            h4.calc-estimate Введите адрес электронной почты
            input.calc-estimate__adress(type="email")

            button.calc-estimate__btn(type="submit") Отправить

          .calc-form__right 
            .calc-img-wrap
              img.calc-img(src="assets/images/dest/room.jpg" alt="room") 

      #kitchen.calc-tabcontent 

        form.calc-form(action="calculate.php" method="post") 

          .calc-form__left
            h4.calc__service-name Выберите вид ремонта
            input(type="text")

            h4.calc__work-area Укажите общую площадь
            input(type="number", name="" placeholder="100")

            h4.calc-building-type Выберите тип недвижимости
            .calc-building-type-wrap 
              input.calc-building-type__radio-btn(type="radio", name="building-type")
              span.calc-building-type__name Первичная недвижимость
            .calc-building-type-wrap
              input.calc-building-type__radio-btn(type="radio", name="building-type")
              span.calc-building-type__name Вторичная недвижимость
          .calc-form__center
            h4.calc-add-services Выберите дополнительные услуги
            p.calc-add-service
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание пола
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание стен
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание потолка
            p.calc-add-service
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена электрики
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена системы водоснабжения
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена системы отопления

            h4.calc-estimate Введите адрес электронной почты
            input.calc-estimate__adress(type="email")

            button.calc-estimate__btn(type="submit") Отправить

          .calc-form__right 
            .calc-img-wrap
              img.calc-img(src="assets/images/dest/kitchen.jpg" alt="room")   

      #bathroom.calc-tabcontent 

        form.calc-form(action="calculate.php" method="post") 

          .calc-form__left
            h4.calc__service-name Выберите вид ремонта
            input(type="text")

            h4.calc__work-area Укажите общую площадь
            input(type="number", name="" placeholder="100")

            h4.calc-building-type Выберите тип недвижимости
            .calc-building-type-wrap 
              input.calc-building-type__radio-btn(type="radio", name="building-type")
              span.calc-building-type__name Первичная недвижимость
            .calc-building-type-wrap
              input.calc-building-type__radio-btn(type="radio", name="building-type")
              span.calc-building-type__name Вторичная недвижимость
          .calc-form__center
            h4.calc-add-services Выберите дополнительные услуги
            p.calc-add-service
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание пола
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание стен
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание потолка
            p.calc-add-service
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена электрики
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена системы водоснабжения
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена системы отопления

            h4.calc-estimate Введите адрес электронной почты
            input.calc-estimate__adress(type="email")

            button.calc-estimate__btn(type="submit") Отправить

          .calc-form__right 
            .calc-img-wrap
              img.calc-img(src="assets/images/dest/bathroom.jpg" alt="room")   

      #building.calc-tabcontent 

        form.calc-form(action="calculate.php" method="post") 

          .calc-form__left
            h4.calc__service-name Выберите вид ремонта
            input(type="text")

            h4.calc__work-area Укажите общую площадь
            input(type="number", name="" placeholder="100")

            h4.calc-building-type Выберите тип недвижимости
            .calc-building-type-wrap 
              input.calc-building-type__radio-btn(type="radio", name="building-type")
              span.calc-building-type__name Первичная недвижимость
            .calc-building-type-wrap
              input.calc-building-type__radio-btn(type="radio", name="building-type")
              span.calc-building-type__name Вторичная недвижимость
          .calc-form__center
            h4.calc-add-services Выберите дополнительные услуги
            p.calc-add-service
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание пола
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание стен
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание потолка
            p.calc-add-service
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена электрики
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена системы водоснабжения
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена системы отопления

            h4.calc-estimate Введите адрес электронной почты
            input.calc-estimate__adress(type="email")

            button.calc-estimate__btn(type="submit") Отправить

          .calc-form__right 
            .calc-img-wrap
              img.calc-img(src="assets/images/dest/building.jpg" alt="room")  

      #office.calc-tabcontent


        form.calc-form(action="calculate.php" method="post") 

          .calc-form__left
            h4.calc__service-name Выберите вид ремонта
            input(type="text")

            h4.calc__work-area Укажите общую площадь
            input(type="number", name="" placeholder="100")

            h4.calc-building-type Выберите тип недвижимости
            .calc-building-type-wrap 
              input.calc-building-type__radio-btn(type="radio", name="building-type")
              span.calc-building-type__name Первичная недвижимость
            .calc-building-type-wrap
              input.calc-building-type__radio-btn(type="radio", name="building-type")
              span.calc-building-type__name Вторичная недвижимость
          .calc-form__center
            h4.calc-add-services Выберите дополнительные услуги
            p.calc-add-service
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание пола
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание стен
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Выравнивание потолка
            p.calc-add-service
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена электрики
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена системы водоснабжения
            p.calc-add-service 
              input.calc-add-service__checkbox(type="checkbox", name="add-services") 
              span.calc-add-service__name Замена системы отопления

            h4.calc-estimate Введите адрес электронной почты
            input.calc-estimate__adress(type="email")

            button.calc-estimate__btn(type="submit") Отправить

          .calc-form__right 
            .calc-img-wrap
              img.calc-img(src="assets/images/dest/office.jpg" alt="room")   
