section#calc.calc 
  .container
    .calc-container 
      // -----------------
      // Calculator header
      // -----------------
      .calc-header 
        .calc-header__title 
          span Узнайте сколько будет стоить 
            span.title_marked ваш ремонт
      // ---------------
      // Calculator form
      // ---------------
      .calc-form-wrap
        // -----------------------
        // Apartment
        // -----------------------
        #apartment.calc-tabcontent
          form.calc-form(action="assets/php/calculator.php" method="post" name="calc-form")
            // Tabs
            .calc-form-tabs 
              h3.calc-form-tabs__title Выберите вид ремонта
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="Косметический" required) 
                span.calc-form-tab__name Косметический
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="Дизайнерский" required) 
                span.calc-form-tab__name Дизайнерский
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="\'Под Ключ\'" required) 
                span.calc-form-tab__name "Под ключ"
            // Square
            .calc-form-square 
              h3.calc-form-square__title Укажите общую площадь м2
              input#square.calc__input(type="number" name="square" placeholder="0" min="1" required)
            // Renovation type
            .calc-building-type
              h3.calc-building-type__title Выберите тип недвижимости
              .calc-building-type-wrap 
                input.calc-building-type__radio-btn(type="radio" name="buildingType" value="Первичная недвижимость" required)
                span.calc-building-type__name Первичная недвижимость
              .calc-building-type-wrap
                input.calc-building-type__radio-btn(type="radio" name="buildingType" value="Вторичная недвижимость" required)
                span.calc-building-type__name Вторичная недвижимость
            // Hidden input type of premises 
            input(type="hidden" name="premisesApartment" value="Квартира")
            // ---------------
            // Calculator tabs
            // ---------------
            .calc-tabs 
              a#defaultOpen.calc-tablink.active.firstTab(onclick="openCalc(event, 'apartment')") Квартира
              a.calc-tablink(onclick="openCalc(event, 'room')") Комната
              a.calc-tablink(onclick="openCalc(event, 'kitchen')") Кухня
              a.calc-tablink(onclick="openCalc(event, 'bathroom')") Ванная
              a.calc-tablink(onclick="openCalc(event, 'building')") Дом
              a.calc-tablink.lastTab(onclick="openCalc(event, 'office')") Офис
            // Calculator wrapper
            .calc-wrap.animate__fadeIn.animate__animated
              // -------------
              // Walls options
              // -------------
              .calc-box.walls
                h4.calc-services__title Стены
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallPlaster" id="wallPlaster" value="Выравнивание стен (штукатурка)") 
                  span.calc-add-service__name Выравнивание стен (штукатурка)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallDrywall" id="wallDrywall" value="Выравнивание стен (гипсокартон)") 
                  span.calc-add-service__name Выравнивание стен (гипсокартон)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallWallpaper" id="wallWallpaper" value="Поклейка обоев") 
                  span.calc-add-service__name Поклейка обоев
              // -------------
              // Floor options
              // -------------
              .calc-box.floors
                h4.calc-services__title Полы
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorLeveling" id="floorLeveling" value="Выравнивание пола") 
                  span.calc-add-service__name Выравнивание пола
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorLaminate" id="floorLaminate" value="Финишное покрытие пола (ламинат)") 
                  span.calc-add-service__name Финишное покрытие пола (ламинат)
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorTile" id="floorTile" value="Финишное покрытие пола (плитка)") 
                  span.calc-add-service__name Финишное покрытие пола (плитка)
              // ---------------
              // Ceiling options
              // ---------------   
              .calc-box.ceilings
                h4.calc-services__title Потолок
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="ceilingPlaster" id="ceilingPlaster" value="Выравнивание потолка (штукатурка)") 
                  span.calc-add-service__name Выравнивание потолка (штукатурка)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="ceilingDrywall" id="ceilingDrywall" value="Потолки (гипсокартон)") 
                  span.calc-add-service__name Потолки (гипсокартон)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="stretchCeiling" id="stretchCeiling" value="Натяжные потолки") 
                  span.calc-add-service__name Натяжные потолки
              // ------------------
              // Additional options
              // ------------------
              .calc-box.additional
                h4.calc-services__title Дополнительно
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="electrics" id="electrics" value="Замена электрики") 
                  span.calc-add-service__name Замена электрики
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="waterSupplySystem" id="waterSupplySystem" value="Замена системы водоснабжения") 
                  span.calc-add-service__name Замена системы водоснабжения
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="heatingSystem" id="heatingSystem" value="Замена системы отопления") 
                  span.calc-add-service__name Замена системы отопления
                p.calc-add-service
                  input.calc__input-num(type="number" name="replHeatingRadiators" placeholder="0" min="0" value="0")
                  span.calc-add-service__name Замена или монтаж радиаторов отопления, шт
                p.calc-add-service
                  input.calc__input-num(type="number" name="replWindows" placeholder="0" min="0" value="0")
                  span.calc-add-service__name Замена окон, шт
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="doorInst" id="doorInst" value="Установка двери") 
                  span.calc-add-service__name Установка двери
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="soundproofing" id="soundproofing" value="Звукоизоляция стен, пола, потолка") 
                  span.calc-add-service__name Звукоизоляция стен, пола, потолка
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="material" id="material" value="Да") 
                  span.calc-add-service__name Материал нашей компании
              .calc-box.calc-img-wrap
                img.calc-img(src="assets/images/dest/apartment.jpg" alt="apartment"  rel="prefetch prerender")
            // Email input
            .calc-email
              h4.calc-estimate Введите адрес электронной почты
              input.calc__input.calc-estimate__adress(type="email" name="email" placeholder="example@gmail.com" required)
            // Form submit button
            .calc-btn-container
                button.btn.calc__btn(type="submit") Рассчитать
        #room.calc-tabcontent
          form.calc-form(action="assets/php/calculator.php" method="post" name="calc-form")
            // Tabs
            .calc-form-tabs 
              h3.calc-form-tabs__title Выберите вид ремонта
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="Косметический" required) 
                span.calc-form-tab__name Косметический
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="Дизайнерский" required) 
                span.calc-form-tab__name Дизайнерский
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="\'Под Ключ\'" required) 
                span.calc-form-tab__name "Под ключ"
            // Square
            .calc-form-square 
              h3.calc-form-square__title Укажите общую площадь м2
              input#square.calc__input(type="number" name="square" placeholder="0" min="1" required)
            // Renovation type
            .calc-building-type
              h3.calc-building-type__title Выберите тип недвижимости
              .calc-building-type-wrap 
                input.calc-building-type__radio-btn(type="radio" name="buildingType" value="Первичная недвижимость" required)
                span.calc-building-type__name Первичная недвижимость
              .calc-building-type-wrap
                input.calc-building-type__radio-btn(type="radio" name="buildingType" value="Вторичная недвижимость" required)
                span.calc-building-type__name Вторичная недвижимость
            // Hidden input type of premises 
            input(type="hidden" name="premisesApartment" value="Комната")
            // ---------------
            // Calculator tabs
            // ---------------
            .calc-tabs 
              a.calc-tablink.firstTab(onclick="openCalc(event, 'apartment')") Квартира
              a.calc-tablink.active(onclick="openCalc(event, 'room')") Комната
              a.calc-tablink(onclick="openCalc(event, 'kitchen')") Кухня
              a.calc-tablink(onclick="openCalc(event, 'bathroom')") Ванная
              a.calc-tablink(onclick="openCalc(event, 'building')") Дом
              a.calc-tablink.lastTab(onclick="openCalc(event, 'office')") Офис
            // Calculator wrapper
            .calc-wrap.animate__fadeIn.animate__animated
              // -------------
              // Walls options
              // -------------
              .calc-box.walls
                h4.calc-services__title Стены
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallPlaster" id="wallPlaster" value="Выравнивание стен (штукатурка)") 
                  span.calc-add-service__name Выравнивание стен (штукатурка)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallDrywall" id="wallDrywall" value="Выравнивание стен (гипсокартон)") 
                  span.calc-add-service__name Выравнивание стен (гипсокартон)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallWallpaper" id="wallWallpaper" value="Поклейка обоев") 
                  span.calc-add-service__name Поклейка обоев
              // -------------
              // Floor options
              // -------------
              .calc-box.floors
                h4.calc-services__title Полы
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorLeveling" id="floorLeveling" value="Выравнивание пола") 
                  span.calc-add-service__name Выравнивание пола
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorLaminate" id="floorLaminate" value="Финишное покрытие пола (ламинат)") 
                  span.calc-add-service__name Финишное покрытие пола (ламинат)
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorTile" id="floorTile" value="Финишное покрытие пола (плитка)") 
                  span.calc-add-service__name Финишное покрытие пола (плитка)
              // ---------------
              // Ceiling options
              // ---------------   
              .calc-box.ceilings
                h4.calc-services__title Потолок
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="ceilingPlaster" id="ceilingPlaster" value="Выравнивание потолка (штукатурка)") 
                  span.calc-add-service__name Выравнивание потолка (штукатурка)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="ceilingDrywall" id="ceilingDrywall" value="Потолки (гипсокартон)") 
                  span.calc-add-service__name Потолки (гипсокартон)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="stretchCeiling" id="stretchCeiling" value="Натяжные потолки") 
                  span.calc-add-service__name Натяжные потолки
              // ------------------
              // Additional options
              // ------------------
              .calc-box.additional
                h4.calc-services__title Дополнительно
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="electrics" id="electrics" value="Замена электрики") 
                  span.calc-add-service__name Замена электрики
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="waterSupplySystem" id="waterSupplySystem" value="Замена системы водоснабжения") 
                  span.calc-add-service__name Замена системы водоснабжения
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="heatingSystem" id="heatingSystem" value="Замена системы отопления") 
                  span.calc-add-service__name Замена системы отопления
                p.calc-add-service
                  input.calc__input-num(type="number" name="replHeatingRadiators" placeholder="0" min="0" value="0")
                  span.calc-add-service__name Замена или монтаж радиаторов отопления, шт
                p.calc-add-service
                  input.calc__input-num(type="number" name="replWindows" placeholder="0" min="0" value="0")
                  span.calc-add-service__name Замена окон, шт
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="doorInst" id="doorInst" value="Установка двери") 
                  span.calc-add-service__name Установка двери
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="soundproofing" id="soundproofing" value="Звукоизоляция стен, пола, потолка") 
                  span.calc-add-service__name Звукоизоляция стен, пола, потолка
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="material" id="material" value="Да") 
                  span.calc-add-service__name Материал нашей компании
              .calc-box.calc-img-wrap
                img.calc-img(src="assets/images/dest/room.jpg" alt="room"  rel="prefetch prerender")
            // Email input
            .calc-email
              h4.calc-estimate Введите адрес электронной почты
              input.calc__input.calc-estimate__adress(type="email" name="email" placeholder="example@gmail.com" required)
            // Form submit button
            .calc-btn-container
                button.btn.calc__btn(type="submit") Рассчитать
        #kitchen.calc-tabcontent
          form.calc-form(action="assets/php/calculator.php" method="post" name="calc-form")
            // Tabs
            .calc-form-tabs 
              h3.calc-form-tabs__title Выберите вид ремонта
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="Косметический" required) 
                span.calc-form-tab__name Косметический
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="Дизайнерский" required) 
                span.calc-form-tab__name Дизайнерский
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="\'Под Ключ\'" required) 
                span.calc-form-tab__name "Под ключ"
            // Square
            .calc-form-square 
              h3.calc-form-square__title Укажите общую площадь м2
              input#square.calc__input(type="number" name="square" placeholder="0" min="1" required)
            // Renovation type
            .calc-building-type
              h3.calc-building-type__title Выберите тип недвижимости
              .calc-building-type-wrap 
                input.calc-building-type__radio-btn(type="radio" name="buildingType" value="Первичная недвижимость" required)
                span.calc-building-type__name Первичная недвижимость
              .calc-building-type-wrap
                input.calc-building-type__radio-btn(type="radio" name="buildingType" value="Вторичная недвижимость" required)
                span.calc-building-type__name Вторичная недвижимость
            // Hidden input type of premises 
            input(type="hidden" name="premisesApartment" value="Кухня")
            // ---------------
            // Calculator tabs
            // ---------------
            .calc-tabs 
              a.calc-tablink.firstTab(onclick="openCalc(event, 'apartment')") Квартира
              a.calc-tablink(onclick="openCalc(event, 'room')") Комната
              a.calc-tablink.active(onclick="openCalc(event, 'kitchen')") Кухня
              a.calc-tablink(onclick="openCalc(event, 'bathroom')") Ванная
              a.calc-tablink(onclick="openCalc(event, 'building')") Дом
              a.calc-tablink.lastTab(onclick="openCalc(event, 'office')") Офис
            // Calculator wrapper
            .calc-wrap.animate__fadeIn.animate__animated
              // -------------
              // Walls options
              // -------------
              .calc-box.walls
                h4.calc-services__title Стены
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallPlaster" id="wallPlaster" value="Выравнивание стен (штукатурка)") 
                  span.calc-add-service__name Выравнивание стен (штукатурка)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallDrywall" id="wallDrywall" value="Выравнивание стен (гипсокартон)") 
                  span.calc-add-service__name Выравнивание стен (гипсокартон)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallWallpaper" id="wallWallpaper" value="Поклейка обоев") 
                  span.calc-add-service__name Поклейка обоев
              // -------------
              // Floor options
              // -------------
              .calc-box.floors
                h4.calc-services__title Полы
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorLeveling" id="floorLeveling" value="Выравнивание пола") 
                  span.calc-add-service__name Выравнивание пола
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorLaminate" id="floorLaminate" value="Финишное покрытие пола (ламинат)") 
                  span.calc-add-service__name Финишное покрытие пола (ламинат)
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorTile" id="floorTile" value="Финишное покрытие пола (плитка)") 
                  span.calc-add-service__name Финишное покрытие пола (плитка)
              // ---------------
              // Ceiling options
              // ---------------   
              .calc-box.ceilings
                h4.calc-services__title Потолок
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="ceilingPlaster" id="ceilingPlaster" value="Выравнивание потолка (штукатурка)") 
                  span.calc-add-service__name Выравнивание потолка (штукатурка)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="ceilingDrywall" id="ceilingDrywall" value="Потолки (гипсокартон)") 
                  span.calc-add-service__name Потолки (гипсокартон)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="stretchCeiling" id="stretchCeiling" value="Натяжные потолки") 
                  span.calc-add-service__name Натяжные потолки
              // ------------------
              // Additional options
              // ------------------
              .calc-box.additional
                h4.calc-services__title Дополнительно
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="electrics" id="electrics" value="Замена электрики") 
                  span.calc-add-service__name Замена электрики
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="waterSupplySystem" id="waterSupplySystem" value="Замена системы водоснабжения") 
                  span.calc-add-service__name Замена системы водоснабжения
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="heatingSystem" id="heatingSystem" value="Замена системы отопления") 
                  span.calc-add-service__name Замена системы отопления
                p.calc-add-service
                  input.calc__input-num(type="number" name="replHeatingRadiators" placeholder="0" min="0" value="0")
                  span.calc-add-service__name Замена или монтаж радиаторов отопления, шт
                p.calc-add-service
                  input.calc__input-num(type="number" name="replWindows" placeholder="0" min="0" value="0")
                  span.calc-add-service__name Замена окон, шт
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="doorInst" id="doorInst" value="Установка двери") 
                  span.calc-add-service__name Установка двери
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="soundproofing" id="soundproofing" value="Звукоизоляция стен, пола, потолка") 
                  span.calc-add-service__name Звукоизоляция стен, пола, потолка
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="material" id="material" value="Да") 
                  span.calc-add-service__name Материал нашей компании
              .calc-box.calc-img-wrap
                img.calc-img(src="assets/images/dest/kitchen.jpg" alt="room"  rel="prefetch prerender") 
            // Email input
            .calc-email
              h4.calc-estimate Введите адрес электронной почты
              input.calc__input.calc-estimate__adress(type="email" name="email" placeholder="example@gmail.com" required)
            // Form submit button
            .calc-btn-container
                button.btn.calc__btn(type="submit") Рассчитать
        #bathroom.calc-tabcontent
          form.calc-form(action="assets/php/calculator.php" method="post" name="calc-form")
            // Tabs
            .calc-form-tabs 
              h3.calc-form-tabs__title Выберите вид ремонта
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="Косметический" required) 
                span.calc-form-tab__name Косметический
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="Дизайнерский" required) 
                span.calc-form-tab__name Дизайнерский
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="\'Под Ключ\'" required) 
                span.calc-form-tab__name "Под ключ"
            // Square
            .calc-form-square 
              h3.calc-form-square__title Укажите общую площадь м2
              input#square.calc__input(type="number" name="square" placeholder="0" min="1" required)
            // Renovation type
            .calc-building-type
              h3.calc-building-type__title Выберите тип недвижимости
              .calc-building-type-wrap 
                input.calc-building-type__radio-btn(type="radio" name="buildingType" value="Первичная недвижимость" required)
                span.calc-building-type__name Первичная недвижимость
              .calc-building-type-wrap
                input.calc-building-type__radio-btn(type="radio" name="buildingType" value="Вторичная недвижимость" required)
                span.calc-building-type__name Вторичная недвижимость
            // Hidden input type of premises 
            input(type="hidden" name="premisesApartment" value="Ванная")
            // ---------------
            // Calculator tabs
            // ---------------
            .calc-tabs 
              a.calc-tablink.firstTab(onclick="openCalc(event, 'apartment')") Квартира
              a.calc-tablink(onclick="openCalc(event, 'room')") Комната
              a.calc-tablink(onclick="openCalc(event, 'kitchen')") Кухня
              a.calc-tablink.active(onclick="openCalc(event, 'bathroom')") Ванная
              a.calc-tablink(onclick="openCalc(event, 'building')") Дом
              a.calc-tablink.lastTab(onclick="openCalc(event, 'office')") Офис
            // Calculator wrapper
            .calc-wrap.animate__fadeIn.animate__animated
              // -------------
              // Walls options
              // -------------
              .calc-box.walls
                h4.calc-services__title Стены
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallPlaster" id="wallPlaster" value="Выравнивание стен (штукатурка)") 
                  span.calc-add-service__name Выравнивание стен (штукатурка)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallDrywall" id="wallDrywall" value="Выравнивание стен (гипсокартон)") 
                  span.calc-add-service__name Выравнивание стен (гипсокартон)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallWallpaper" id="wallWallpaper" value="Поклейка обоев") 
                  span.calc-add-service__name Поклейка обоев
              // -------------
              // Floor options
              // -------------
              .calc-box.floors
                h4.calc-services__title Полы
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorLeveling" id="floorLeveling" value="Выравнивание пола") 
                  span.calc-add-service__name Выравнивание пола
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorLaminate" id="floorLaminate" value="Финишное покрытие пола (ламинат)") 
                  span.calc-add-service__name Финишное покрытие пола (ламинат)
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorTile" id="floorTile" value="Финишное покрытие пола (плитка)") 
                  span.calc-add-service__name Финишное покрытие пола (плитка)
              // ---------------
              // Ceiling options
              // ---------------   
              .calc-box.ceilings
                h4.calc-services__title Потолок
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="ceilingPlaster" id="ceilingPlaster" value="Выравнивание потолка (штукатурка)") 
                  span.calc-add-service__name Выравнивание потолка (штукатурка)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="ceilingDrywall" id="ceilingDrywall" value="Потолки (гипсокартон)") 
                  span.calc-add-service__name Потолки (гипсокартон)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="stretchCeiling" id="stretchCeiling" value="Натяжные потолки") 
                  span.calc-add-service__name Натяжные потолки
              // ------------------
              // Additional options
              // ------------------
              .calc-box.additional
                h4.calc-services__title Дополнительно
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="electrics" id="electrics" value="Замена электрики") 
                  span.calc-add-service__name Замена электрики
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="waterSupplySystem" id="waterSupplySystem" value="Замена системы водоснабжения") 
                  span.calc-add-service__name Замена системы водоснабжения
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="heatingSystem" id="heatingSystem" value="Замена системы отопления") 
                  span.calc-add-service__name Замена системы отопления
                p.calc-add-service
                  input.calc__input-num(type="number" name="replHeatingRadiators" placeholder="0" min="0" value="0")
                  span.calc-add-service__name Замена или монтаж радиаторов отопления, шт
                p.calc-add-service
                  input.calc__input-num(type="number" name="replWindows" placeholder="0" min="0" value="0")
                  span.calc-add-service__name Замена окон, шт
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="doorInst" id="doorInst" value="Установка двери") 
                  span.calc-add-service__name Установка двери
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="soundproofing" id="soundproofing" value="Звукоизоляция стен, пола, потолка") 
                  span.calc-add-service__name Звукоизоляция стен, пола, потолка
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="material" id="material" value="Да") 
                  span.calc-add-service__name Материал нашей компании
              .calc-box.calc-img-wrap
                img.calc-img(src="assets/images/dest/bathroom.jpg" alt="bathroom"  rel="prefetch prerender") 
            // Email input
            .calc-email
              h4.calc-estimate Введите адрес электронной почты
              input.calc__input.calc-estimate__adress(type="email" name="email" placeholder="example@gmail.com" required)
            // Form submit button
            .calc-btn-container
                button.btn.calc__btn(type="submit") Рассчитать
        #building.calc-tabcontent
          form.calc-form(action="assets/php/calculator.php" method="post" name="calc-form")
            // Tabs
            .calc-form-tabs 
              h3.calc-form-tabs__title Выберите вид ремонта
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="Косметический" required) 
                span.calc-form-tab__name Косметический
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="Дизайнерский" required) 
                span.calc-form-tab__name Дизайнерский
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="\'Под Ключ\'" required) 
                span.calc-form-tab__name "Под ключ"
            // Square
            .calc-form-square 
              h3.calc-form-square__title Укажите общую площадь м2
              input#square.calc__input(type="number" name="square" placeholder="0" min="1" required)
            // Renovation type
            .calc-building-type
              h3.calc-building-type__title Выберите тип недвижимости
              .calc-building-type-wrap 
                input.calc-building-type__radio-btn(type="radio" name="buildingType" value="Первичная недвижимость" required)
                span.calc-building-type__name Первичная недвижимость
              .calc-building-type-wrap
                input.calc-building-type__radio-btn(type="radio" name="buildingType" value="Вторичная недвижимость" required)
                span.calc-building-type__name Вторичная недвижимость
            // Hidden input type of premises 
            input(type="hidden" name="premisesApartment" value="Дом")
            // ---------------
            // Calculator tabs
            // ---------------
            .calc-tabs 
              a.calc-tablink.firstTab(onclick="openCalc(event, 'apartment')") Квартира
              a.calc-tablink(onclick="openCalc(event, 'room')") Комната
              a.calc-tablink(onclick="openCalc(event, 'kitchen')") Кухня
              a.calc-tablink(onclick="openCalc(event, 'bathroom')") Ванная
              a.calc-tablink.active(onclick="openCalc(event, 'building')") Дом
              a.calc-tablink.lastTab(onclick="openCalc(event, 'office')") Офис
            // Calculator wrapper
            .calc-wrap.animate__fadeIn.animate__animated
              // -------------
              // Walls options
              // -------------
              .calc-box.walls
                h4.calc-services__title Стены
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallPlaster" id="wallPlaster" value="Выравнивание стен (штукатурка)") 
                  span.calc-add-service__name Выравнивание стен (штукатурка)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallDrywall" id="wallDrywall" value="Выравнивание стен (гипсокартон)") 
                  span.calc-add-service__name Выравнивание стен (гипсокартон)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallWallpaper" id="wallWallpaper" value="Поклейка обоев") 
                  span.calc-add-service__name Поклейка обоев
              // -------------
              // Floor options
              // -------------
              .calc-box.floors
                h4.calc-services__title Полы
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorLeveling" id="floorLeveling" value="Выравнивание пола") 
                  span.calc-add-service__name Выравнивание пола
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorLaminate" id="floorLaminate" value="Финишное покрытие пола (ламинат)") 
                  span.calc-add-service__name Финишное покрытие пола (ламинат)
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorTile" id="floorTile" value="Финишное покрытие пола (плитка)") 
                  span.calc-add-service__name Финишное покрытие пола (плитка)
              // ---------------
              // Ceiling options
              // ---------------   
              .calc-box.ceilings
                h4.calc-services__title Потолок
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="ceilingPlaster" id="ceilingPlaster" value="Выравнивание потолка (штукатурка)") 
                  span.calc-add-service__name Выравнивание потолка (штукатурка)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="ceilingDrywall" id="ceilingDrywall" value="Потолки (гипсокартон)") 
                  span.calc-add-service__name Потолки (гипсокартон)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="stretchCeiling" id="stretchCeiling" value="Натяжные потолки") 
                  span.calc-add-service__name Натяжные потолки
              // ------------------
              // Additional options
              // ------------------
              .calc-box.additional
                h4.calc-services__title Дополнительно
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="electrics" id="electrics" value="Замена электрики") 
                  span.calc-add-service__name Замена электрики
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="waterSupplySystem" id="waterSupplySystem" value="Замена системы водоснабжения") 
                  span.calc-add-service__name Замена системы водоснабжения
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="heatingSystem" id="heatingSystem" value="Замена системы отопления") 
                  span.calc-add-service__name Замена системы отопления
                p.calc-add-service
                  input.calc__input-num(type="number" name="replHeatingRadiators" placeholder="0" min="0" value="0")
                  span.calc-add-service__name Замена или монтаж радиаторов отопления, шт
                p.calc-add-service
                  input.calc__input-num(type="number" name="replWindows" placeholder="0" min="0" value="0")
                  span.calc-add-service__name Замена окон, шт
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="doorInst" id="doorInst" value="Установка двери") 
                  span.calc-add-service__name Установка двери
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="soundproofing" id="soundproofing" value="Звукоизоляция стен, пола, потолка") 
                  span.calc-add-service__name Звукоизоляция стен, пола, потолка
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="material" id="material" value="Да") 
                  span.calc-add-service__name Материал нашей компании
              .calc-box.calc-img-wrap
                img.calc-img(src="assets/images/dest/building.jpg" alt="building"  rel="prefetch prerender") 
            // Email input
            .calc-email
              h4.calc-estimate Введите адрес электронной почты
              input.calc__input.calc-estimate__adress(type="email" name="email" placeholder="example@gmail.com" required)
            // Form submit button
            .calc-btn-container
                button.btn.calc__btn(type="submit") Рассчитать
        #office.calc-tabcontent
          form.calc-form(action="assets/php/calculator.php" method="post" name="calc-form")
            // Tabs
            .calc-form-tabs 
              h3.calc-form-tabs__title Выберите вид ремонта
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="Косметический" required) 
                span.calc-form-tab__name Косметический
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="Дизайнерский" required) 
                span.calc-form-tab__name Дизайнерский
              .calc-form-tab-wrap
                input.calc-form-tab__radio-btn(type="radio" name="renovationType" value="\'Под Ключ\'" required) 
                span.calc-form-tab__name "Под ключ"
            // Square
            .calc-form-square 
              h3.calc-form-square__title Укажите общую площадь м2
              input#square.calc__input(type="number" name="square" placeholder="0" min="1" required)
            // Renovation type
            .calc-building-type
              h3.calc-building-type__title Выберите тип недвижимости
              .calc-building-type-wrap 
                input.calc-building-type__radio-btn(type="radio" name="buildingType" value="Первичная недвижимость" required)
                span.calc-building-type__name Первичная недвижимость
              .calc-building-type-wrap
                input.calc-building-type__radio-btn(type="radio" name="buildingType" value="Вторичная недвижимость" required)
                span.calc-building-type__name Вторичная недвижимость
            // Hidden input type of premises 
            input(type="hidden" name="premisesApartment" value="Офис")
            // ---------------
            // Calculator tabs
            // ---------------
            .calc-tabs 
              a.calc-tablink.firstTab(onclick="openCalc(event, 'apartment')") Квартира
              a.calc-tablink(onclick="openCalc(event, 'room')") Комната
              a.calc-tablink(onclick="openCalc(event, 'kitchen')") Кухня
              a.calc-tablink(onclick="openCalc(event, 'bathroom')") Ванная
              a.calc-tablink(onclick="openCalc(event, 'building')") Дом
              a.calc-tablink.active.lastTab(onclick="openCalc(event, 'office')") Офис
            // Calculator wrapper
            .calc-wrap.animate__fadeIn.animate__animated
              // -------------
              // Walls options
              // -------------
              .calc-box.walls
                h4.calc-services__title Стены
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallPlaster" id="wallPlaster" value="Выравнивание стен (штукатурка)") 
                  span.calc-add-service__name Выравнивание стен (штукатурка)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallDrywall" id="wallDrywall" value="Выравнивание стен (гипсокартон)") 
                  span.calc-add-service__name Выравнивание стен (гипсокартон)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="wallWallpaper" id="wallWallpaper" value="Поклейка обоев") 
                  span.calc-add-service__name Поклейка обоев
              // -------------
              // Floor options
              // -------------
              .calc-box.floors
                h4.calc-services__title Полы
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorLeveling" id="floorLeveling" value="Выравнивание пола") 
                  span.calc-add-service__name Выравнивание пола
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorLaminate" id="floorLaminate" value="Финишное покрытие пола (ламинат)") 
                  span.calc-add-service__name Финишное покрытие пола (ламинат)
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="floorTile" id="floorTile" value="Финишное покрытие пола (плитка)") 
                  span.calc-add-service__name Финишное покрытие пола (плитка)
              // ---------------
              // Ceiling options
              // ---------------   
              .calc-box.ceilings
                h4.calc-services__title Потолок
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="ceilingPlaster" id="ceilingPlaster" value="Выравнивание потолка (штукатурка)") 
                  span.calc-add-service__name Выравнивание потолка (штукатурка)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="ceilingDrywall" id="ceilingDrywall" value="Потолки (гипсокартон)") 
                  span.calc-add-service__name Потолки (гипсокартон)
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="stretchCeiling" id="stretchCeiling" value="Натяжные потолки") 
                  span.calc-add-service__name Натяжные потолки
              // ------------------
              // Additional options
              // ------------------
              .calc-box.additional
                h4.calc-services__title Дополнительно
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="electrics" id="electrics" value="Замена электрики") 
                  span.calc-add-service__name Замена электрики
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="waterSupplySystem" id="waterSupplySystem" value="Замена системы водоснабжения") 
                  span.calc-add-service__name Замена системы водоснабжения
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="heatingSystem" id="heatingSystem" value="Замена системы отопления") 
                  span.calc-add-service__name Замена системы отопления
                p.calc-add-service
                  input.calc__input-num(type="number" name="replHeatingRadiators" placeholder="0" min="0" value="0")
                  span.calc-add-service__name Замена или монтаж радиаторов отопления, шт
                p.calc-add-service
                  input.calc__input-num(type="number" name="replWindows" placeholder="0" min="0" value="0")
                  span.calc-add-service__name Замена окон, шт
                p.calc-add-service
                  input.calc-add-service__checkbox(type="checkbox" name="doorInst" id="doorInst" value="Установка двери") 
                  span.calc-add-service__name Установка двери
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="soundproofing" id="soundproofing" value="Звукоизоляция стен, пола, потолка") 
                  span.calc-add-service__name Звукоизоляция стен, пола, потолка
                p.calc-add-service 
                  input.calc-add-service__checkbox(type="checkbox" name="material" id="material" value="Да") 
                  span.calc-add-service__name Материал нашей компании
              .calc-box.calc-img-wrap
                img.calc-img(src="assets/images/dest/office.jpg" alt="office"  rel="prefetch prerender") 
            // Email input
            .calc-email
              h4.calc-estimate Введите адрес электронной почты
              input.calc__input.calc-estimate__adress(type="email" name="email" placeholder="example@gmail.com" required)
            // Form submit button
            .calc-btn-container
                button.btn.calc__btn(type="submit") Рассчитать