// Style the tab
.calc
  background: url(../images/dest/7.png) no-repeat center
  background-size: 130%
  background-position: 5% 10%

.calc-header__title 
  display: flex
  flex-direction: column
  width: 80%
  margin: 0 auto
  gap: 15px 0 
  font-family: "Montserrat", sans-serif
  font-weight: 600
  text-transform: uppercase
  color: #2b2b2b 

// Style the buttons that are used to open the tab content
.calc-tablink 
  background: transparent
  position: relative
  font-family: "Montserrat", sans-serif
  font-weight: 800
  color: #ec4b00
  text-transform: uppercase
  border: none
  border-radius: 8px
  outline: none
  cursor: pointer
  float: left
  &::after
    content: ""
    width: 0
    height: 0
    border-style: solid
    border-width: 20px
    border-color: transparent
    position: absolute
    left: calc(50% - 20px)
    left: -webkit-calc(50% - 15px)
    top: 55px

.calc-tablink.active
  &::after
    border-color: #2b2b2b transparent transparent transparent

// Create an active/current tablink class
.calc-tablink.active 
  background-color: #2b2b2b
  
// Style the tab content
.calc-tabcontent
  display: none

.calc-wrap
  display: flex
  flex-direction: row
  gap: 0 50px
  justify-content: space-between

.calc-form
  &__center
    max-width: 350px

.calc__service-name,
.calc__work-area,
.calc-building-type,
.calc-add-services,
.calc-estimate
    font-family: "Roboto", sans-serif
    font-weight: 600
    color: #2b2b2b
    line-height: 1.2em

.sup
  vertical-align: super
  font-size: smaller
  font-family: "Roboto", sans-serif

.calc__input,
.calc__selector,
.apartment__opt
  color: #323232
  border: 1px solid #2b2b2b4d
  border-radius: 5px
  outline: none

.calc__input:focus,
.calc__selector:focus,
.apartment__opt:focus
  border-color: #ec4b00

.calc__selector
  width: 272px

.calc-building-type__radio-btn
  width: 25px
  height: 25px
  filter: grayscale(1)

.calc-building-type__name
  font-family: "Roboto", sans-serif
  font-weight: 500
  margin-left: 8px
  color: #323232

.calc-add-service
  display: flex
  align-items: center
  padding: 10px 0

.calc-add-service__checkbox
  height: 30px
  width: 30px
  filter: grayscale(1)

.calc-add-service__name
  font-family: "Rubik", sans-serif
  font-weight: 500
  max-width: 80%
  color: #323232

.calc-img
  box-shadow: 1px 1px 40px #000

.calc-building-type-wrap
  display: flex
  align-items: center
  padding: 10px 0

.calc-btn-container
  display: flex
  justify-content: center

.calc-estimate__btn
  text-decoration: none
  display: inline-block
  width: 340px
  height: 70px
  line-height: 70px
  border-radius: 45px
  margin: 40px auto 0
  font-family: 'Montserrat', sans-serif
  font-size: 28px
  font-weight: 700
  text-transform: uppercase
  text-align: center
  letter-spacing: 3px
  color: #474747
  background: white
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1)
  transition: .3s

.calc-estimate__btn:hover
  background: #ec4b00
  box-shadow: 0 15px 20px #ec4b005e
  transform: translateY(-7px)

.calc-estimate__btn::after
  content: '\f51e'
  font-family: FontAwesome
  font-size: 30px
  margin-left: 10px

// ----------
// Adaptivity
// ----------
// -----------------------------------
// Screen resolution 1920px and higher
// -----------------------------------
@media (min-width: 1920px)
  .calc-header__title 
    font-size: 60px
    padding: 80px 0

  .calc-tablink 
    font-size: 30px
    padding: 14px 16px
    margin-right: 10px

  .calc-tabs
    margin-left: 0

  .calc-tabcontent
    padding: 100px 0 0
    width: 100%
    height: 1000px
    margin: 0 auto

  .calc__service-name,
  .calc__work-area,
  .calc-building-type,
  .calc-add-services,
  .calc-estimate
    font-size: 30px
    padding: 15px 0

  .calc__input,
  .calc__selector,
  .apartment__opt
    font-size: 22px
    padding: 12px 15px
    width: 250px

  .calc__input-num
    width: 40px

  .calc-building-type__name
    font-size: 24px

  .calc-add-service__name
    font-size: 21px
    padding-left: 10px

  .calc__btn
    padding: 5px 35px

  .calc-img
    width: 720px
    height: 620px

// ---------------------------------------
// Screen resolution from 1600px to 1920px
// ---------------------------------------
@media (min-width: 1600px) and (max-width: 1919.98px)
  .calc-header__title 
    font-size: 42px
    padding: 80px 0

  .calc-tablink 
    font-size: 22px
    padding: 14px 16px
    margin-right: 10px

  .calc-tabs
    margin-left: 10px

  .calc-tabcontent
    padding: 100px 0 0
    width: 1266.4px
    height: 850px
    margin: 0 auto

  .calc__service-name,
  .calc__work-area,
  .calc-building-type,
  .calc-add-services,
  .calc-estimate
    font-size: 24px
    padding: 15px 0

  .calc__input,
  .calc__selector,
  .apartment__opt
    font-size: 18px
    padding: 8px 10px
    width: 250px

  .calc__input-num
    width: 30px

  .calc-building-type__name
    font-size: 16px

  .calc-add-service__name
    font-size: 18px
    padding-left: 10px

  .calc-img
    width: 520px
    height: 420px

  .calc__btn
    padding: 0 20px

// ---------------------------------------
// Screen resolution from 1200px to 1600px
// ---------------------------------------
@media (min-width: 1200px) and (max-width: 1599.98px)
  .calc-header__title 
    font-size: 42px
    padding: 80px 0

  .calc-tablink 
    font-size: 22px
    padding: 14px 16px
    margin-right: 10px

  .calc-tabs
    margin-left: 100px

  .calc-tabcontent
    padding: 100px 0 0
    width: 800px
    height: 850px
    margin: 0 auto

  .calc__service-name,
  .calc__work-area,
  .calc-building-type,
  .calc-add-services,
  .calc-estimate
    font-size: 24px
    padding: 15px 0

  .calc__input,
  .calc__selector,
  .apartment__opt
    font-size: 18px
    padding: 8px 10px
    width: 250px

  .calc__input-num
    width: 30px

  .calc-building-type__name
    font-size: 16px

  .calc-add-service__name
    font-size: 18px
    padding-left: 10px

  .calc-form__right
    display: none

  .calc-wrap
    justify-content: left
    margin-left: 50px

  .calc-btn-container
    display: flex
    justify-content: center

  .calc__btn
    padding: 0 20px

// ---------------------------------------
// Screen resolution from 900px to 1200px
// ---------------------------------------
@media (min-width: 900px) and (max-width: 1199.98px)
  .calc-header__title 
    font-size: 36px
    padding: 60px 0

  .calc-tablink 
    font-size: 18px
    padding: 14px 8px
    margin-right: 10px

  .calc-tabs
    margin-left: 0

  .calc-tabcontent
    padding: 100px 0 0
    width: 100%
    height: 800px
    margin: 0 auto

  .calc__service-name,
  .calc__work-area,
  .calc-building-type,
  .calc-add-services,
  .calc-estimate
    font-size: 22px
    padding: 15px 0

  .calc__input,
  .calc__selector,
  .apartment__opt
    font-size: 18px
    padding: 8px 10px
    width: 250px

  .calc__input-num
    width: 30px

  .calc-building-type__name
    font-size: 16px

  .calc-add-service__name
    font-size: 18px
    padding-left: 10px

  .calc-form__right
    display: none

  .calc-wrap
    justify-content: left
    margin-left: 0
    gap: 0 10px

  .calc-btn-container
    display: flex
    justify-content: center

  .calc-tablink
    &::after
      top: 45px

  .calc__btn
    padding: 0 20px

// ---------------------------------------
// Screen resolution from 320px to 900px
// ---------------------------------------
@media (min-width: 320px) and (max-width: 899.98px)
  .calc
    background-position: 5% 0%

  .calc-header__title 
    font-size: 24px
    padding: 60px 0

  .calc-tablink 
    font-size: 14px
    padding: 10px 4px
    margin-right: 10px

  .calc-tabs
    margin-left: 0

  .calc-tabcontent
    padding: 10px 0 0
    width: 100%
    height: 1200px
    margin: 0 auto

  .calc__service-name,
  .calc__work-area,
  .calc-building-type,
  .calc-add-services,
  .calc-estimate
    font-size: 22px
    padding: 15px 0

  .calc__input,
  .calc__selector,
  .apartment__opt
    font-size: 18px
    padding: 8px 10px
    width: 250px

  .calc__input-num
    width: 30px

  .calc-building-type__name
    font-size: 16px

  .calc-add-service__name
    font-size: 18px
    padding-left: 10px

  .calc-form__right
    display: none

  .calc-wrap
    justify-content: left
    margin-left: 0
    gap: 0 10px
    flex-direction: column

  .calc-btn-container
    display: flex
    justify-content: center

  .calc-tablink
    &::after
      display: none

  .calc-tabs 
    display: flex
    flex-direction: column

  .calc__btn,
  .calc__btn:after
    font-size: 22px

  .calc__btn
    padding: 0 20px
