section.portfolio 
  .container
    .portfolio-container 
      .renovation
        a.renovation__link(href="#")
          .renovation__type Ремонт коттеджа
          .renovation__img-slider
          .renovation-silder-sticks-list
              li.renovation__silder-stick.first
              li.renovation__silder-stick.second
              li.renovation__silder-stick.third
              li.renovation__silder-stick.fouth
              li.renovation__silder-stick.fifth
          .renovation-info
            .renovation-info__name Таунхаус 220м2
            .renovation-info__location Санкт-Петербург

-