section.portfolio 
  .container
    .portfolio-container 
      .renovation-header 
        h2.renovation-header__title Примеры выполненных нашей компанией работ по 
          span.title_marked ремонту квартир
        p.renovation-header__info В этом разделе можно посмотреть реальные фото дизайна и ремонта и квартир, выполненных силами компании «Deloremontov». Здесь есть фото ремонта квартир в современном, классическом стиле, хай-тек, лофт, модерн.
      .renovation-container
        a.renovation(href="town")
          #townhouse.renovation__img 
          ul.renovation__list
            li.renovation__item(onmouseover="townhouseChangeImg(1)" onmouseout="townhouseRechangeImg()")
            li.renovation__item(onmouseover="townhouseChangeImg(2)" onmouseout="townhouseRechangeImg()")
            li.renovation__item(onmouseover="townhouseChangeImg(3)" onmouseout="townhouseRechangeImg()")
            li.renovation__item(onmouseover="townhouseChangeImg(4)" onmouseout="townhouseRechangeImg()")
          .renovation-description 
            .renovation-description__name Таунхаус 220 м
              span.sup 2
            .renovation-description__location г. Санкт-Петербург 
        a.renovation(href="#")
          #country-house.renovation__img 
          ul.renovation__list
            li.renovation__item(onmouseover="countryHouseImg(1)" onmouseout="countryHouseRechangeImg()")
            li.renovation__item(onmouseover="countryHouseImg(2)" onmouseout="countryHouseRechangeImg()")
            li.renovation__item(onmouseover="countryHouseImg(3)" onmouseout="countryHouseRechangeImg()")
            li.renovation__item(onmouseover="countryHouseImg(4)" onmouseout="countryHouseRechangeImg()")
          .renovation-description 
            .renovation-description__name Загородный дом 650 м
              span.sup 2
            .renovation-description__location Ленинградская область
        a.renovation(href="#") 
          #flat-1.renovation__img 
          ul.renovation__list
            li.renovation__item(onmouseover="flat1Img(1)" onmouseout="flat1RechangeImg()")
            li.renovation__item(onmouseover="flat1Img(2)" onmouseout="flat1RechangeImg()")
            li.renovation__item(onmouseover="flat1Img(3)" onmouseout="flat1RechangeImg()")
            li.renovation__item(onmouseover="flat1Img(4)" onmouseout="flat1RechangeImg()")
          .renovation-description 
            .renovation-description__name Квартира 140 м
              span.sup 2
            .renovation-description__location г. Санкт-Петербург
        a.renovation(href="#") 
          #flat-2.renovation__img 
          ul.renovation__list
            li.renovation__item(onmouseover="flat2Img(1)" onmouseout="flat2RechangeImg()")
            li.renovation__item(onmouseover="flat2Img(2)" onmouseout="flat2RechangeImg()")
            li.renovation__item(onmouseover="flat2Img(3)" onmouseout="flat2RechangeImg()")
            li.renovation__item(onmouseover="flat2Img(4)" onmouseout="flat2RechangeImg()")
          .renovation-description 
            .renovation-description__name Квартира 145 м
              span.sup 2
            .renovation-description__location г. Санкт-Петербург
        
          