header.header
  .header-slider 
    .header-slide-container
      .header-slide-info
        .header-slide-info__title Ремонт и отделка квартир в Санкт-Петербурге
        .header-slide-info__text Возьмём ваш ремонт на себя!
    .header-slide-container
      .header-slide-info
        .header-slide-info__title Ремонт и отделка квартир в Санкт-Петербурге
        .header-slide-info__text Возьмём ваш ремонт на себя!
    .header-slide-container
      .header-slide-info
        .header-slide-info__title Ремонт и отделка квартир в Санкт-Петербурге
        .header-slide-info__text Возьмём ваш ремонт на себя!

