header.header
  .header-slider 
    .header-slide-container
      .header-slide-info
        h2.header-slide-info__title Доверьте работу профессионалам!
        p.header-slide-info__text Выполняем работу качественно и в срок
    //- .header-slide-container
    //-   .header-slide-info
    //-     h2.header-slide-info__title Ремонт без забот
    //-     p.header-slide-info__text Возьмём ваш ремонт на себя!
    //- .header-slide-container
    //-   .header-slide-info
    //-     h2.header-slide-info__title Широкий спектр услуг и видов работ
    //-     p.header-slide-info__text От лёгкого косметического ремонта, до полной перепланировки
    .header-slide-lines
      .header-slide__line.header-slide__line_active
      .header-slide__line.header-slide__line_active
      .header-slide__line.header-slide__line_active

