// -----------------
// Slides background
// -----------------
.header-slider
  position: relative

.header-slide-container
  margin: 0 auto

.header-slide-container:nth-child(1)::before
  background: url(../images/dest/slider-header-4.jpeg) no-repeat center
  background-size: cover
  background-position-x: 65%

.header-slide-container:nth-child(2)::before
  background: url(../images/dest/slider-header-2.jpg) no-repeat center
  background-size: cover
  background-position-x: 65%

.header-slide-container:nth-child(3)::before
  background: url(../images/dest/slider-header-3.jpg) no-repeat center
  background-size: cover
  background-position-x: 65%

.header-slide-container::before
  content: ""
  position: absolute
  filter: brightness(70%)
  z-index: -5
  margin: 0 auto

.header-slide-info
  padding-left: 8%
  width: 500px
  &::after,
  &::before
    content: ""
    display: block
    height: 5px
    width: 100%
    background-color: #fac106
    border-radius: 4px
  &__title
    font-family: "Rubik", sans-serif
    font-size: 55px
    color: #fff
    font-weight: 600
    padding: 15px 5px 5px 5px
    text-shadow: 1px 1px 2px #000
  &__text
    font-family: "Montserrat", sans-serif
    font-size: 26px
    font-style: italic
    font-weight: 600
    color: #fff
    padding: 5px 5px 15px 5px
    text-shadow: 1px 1px 2px #000

// -------------
// Slider button
// -------------
.header-slider-btn 
  position: absolute
  left: calc( 50% - 180px )
  bottom: 150px

.slider-btn
  border: none
  background-color: #fac106

// ------------
// Slider lines
// ------------
.header-slide-lines
  position: absolute
  width: 1000px
  left: calc( 50% - 500px )
  display: flex
  justify-content: center
  bottom: 30px

.header-slide__line
  display: inline-block
  height: 5px
  width: 150px
  background-color: #fff
  border-radius: 3px
  margin: 0 30px
  box-shadow: 0px 0px 6px #aa8200

.header-slide__line_active
  background-color: #fac106

// ----------
// Adaptivity
// ----------
// ----------------------------------------
// Screen resolution from 1920px and higher
//-----------------------------------------
@media (min-width: 1920px)
  .header-slide-container
    max-width: 1920px
    width: 100%
    height: 1000px

  .header-slide-container::before
    max-width: 1920px
    width: 100%
    height: 1000px

  .header-slide-info
    padding-top: 360px

  .header-slider-btn 
    position: absolute
    left: calc( 50% - 180px )
    bottom: 80px

// ---------------------------------------
// Screen resolution from 1600px to 1920px
//----------------------------------------
@media (min-width: 1600px) and (max-width: 1919.98px)
  .header-slide-container
    width: 100%
    height: 1000px

  .header-slide-container::before
    width: 100%
    height: 1000px

  .header-slide-info
    padding-top: 360px

  .header-slider-btn 
    position: absolute
    left: calc( 50% - 180px )
    bottom: 80px

// ---------------------------------------
// Screen resolution from 1200px to 1600px
//----------------------------------------
@media (min-width: 1200px) and (max-width: 1599.98px)
  .header-slide-container
    width: 100%
    height: 800px

  .header-slide-container::before
    width: 100%
    height: 800px

  .header-slide-info
    padding-top: 300px
    &__title
      font-size: 42px
      padding: 15px 5px 5px 5px
    &__text
      font-size: 22px
      padding: 5px 5px 15px 5px

  .header-slider-btn 
    position: absolute
    left: calc( 50% - 180px )
    bottom: 80px

// --------------------------------------
// Screen resolution from 900px to 1200px
//---------------------------------------
@media (min-width: 900px) and (max-width: 1199.98px)
  .header-slide-container
    width: 100%
    height: 800px

  .header-slide-container::before
    width: 100%
    height: 800px

  .header-slide-info
    padding-top: 300px
    width: 400px
    padding-left: 4%
    &__title
      font-size: 36px
      padding: 15px 5px 5px 5px
    &__text
      font-size: 18px
      padding: 5px 5px 15px 5px

  .header-slider-btn 
    position: absolute
    left: calc( 50% - 180px )
    bottom: 80px

// -------------------------------------
// Screen resolution from 600px to 900px
//--------------------------------------
@media (min-width: 600px) and (max-width: 899.98px)
  .header-slide-container
    width: 100%
    height: 800px

  .header-slide-container::before
    width: 100%
    height: 800px

  .header-slide-info
    padding-top: 340px
    width: 380px
    padding-left: 0
    margin: 0 auto
    &__title
      font-size: 36px
      padding: 15px 5px 5px 5px
      text-align: center
    &__text
      font-size: 18px
      padding: 5px 5px 15px 5px
      text-align: center

  .header-slider-btn 
    position: absolute
    left: calc( 50% - 180px )
    bottom: 80px

  .header-slide__line
    width: 50px

// -------------------------------------
// Screen resolution from 320px to 600px
//--------------------------------------
@media (min-width: 320px) and (max-width: 599.98px)
  .header-slide-container
    width: 100%
    height: 700px

  .header-slide-container::before
    width: 100%
    height: 700px

  .header-slide-info
    padding-top: 320px
    width: 300px
    padding-left: 0
    margin: 0 auto
    &__title
      font-size: 30px
      padding: 15px 5px 5px 5px
      text-align: center
    &__text
      font-size: 18px
      padding: 5px 5px 15px 5px
      text-align: center

  .header-slider-btn 
    position: absolute
    left: calc( 50% - 180px )
    bottom: 50px

  .header-slide__line
    width: 50px

  .header-slide-container:nth-child(1)::before
    background-position-x: 65%
  
  .header-slide-container:nth-child(2)::before
    background-position-x: 55%

  .header-slide-container:nth-child(3)::before
    background-position-x: 65%

  