section.vacancies 
  .container
    .vacancies-container 
      .vacancies-info 
        h1.vacancies-title 
          span.title_marked Доступные 
          span Вакансии
        p.vacancies__text Здесь размещены доступные, на данный момент, вакансии.
      ul.vacancies-list
        li.vacancies__item
          .vacancy
            // -------------------------------
            // Vacancy name, salary, work-time
            // -------------------------------
            .vacancy__name Строитель-отделочник
            .vacancy__salary от 35 000 до 47 000 руб. до вычета налогов
            .vacancy-description
              .vacancy-description__work-time Полная занятость, Вахтовый метод
              // --------------------
              // Vacancy requirements
              // --------------------
              ul.vacancy-description-requirements Требования
                li.vacancy-description-requirements__item Умение пользоваться всеми необходимыми инструментами
                li.vacancy-description-requirements__item Опыт работы приветствуется
                li.vacancy-description-requirements__item Ответственность
              // ------------------------
              // Vacancy responsibilities
              // ------------------------
              ul.vacancies-description-responsibilities Обязанности
                li.vacancies-description-responsibilities__item Выполнение любых видов погрузочно-разгрузочных работ
                li.vacancies-description-responsibilities__item Выполнение работ по монтажу/демонтажу оборудования
                li.vacancies-description-responsibilities__item Выполнение отделочных и сантехнических работ
                li.vacancies-description-responsibilities__item Выполнение работ средней сложности при кладке и ремонте каменных конструкций зданий, промышленных и гидротехнических сооружения
              // ------------------
              // Vacancy conditions
              // ------------------
              ul.vacancy-description-conditions Условия
                li.vacancy-description-conditions__item Вахтовый метод 20/10
                li.vacancy-description-conditions__item Разъездной характер работ
                li.vacancy-description-conditions__item Работа в Санкт-Петербурге и ЛО
                li.vacancy-description-conditions__item Проезд за счет работодателя (до/с вахты)
                li.vacancy-description-conditions__item Оклад 35000 р. + 700 р.(вахтовая надбавка)
                li.vacancy-description-conditions__item Стабильные ежеквартальные премии
            // ----------------
            // Vacancy contacts
            // ----------------
            .vacancy-contacts Контакты
              .vacancy-contacts__tel Телефон: 8 (991) 021-22-60
              .vacancy-contacts__email E-mail: zakaz@deloremontov.ru
              .vacancy-contacts__note В теме письме обязательно укажите название вакансии

