section.vacancies 
  .container
    .vacancies-container 
      .vacancies-info 
        h2.vacancies-title 
          span.title_marked Доступные 
          span Вакансии
        p.vacancies__text Здесь размещены доступные, на данный момент, вакансии. 