section.soundproofing
  .container
    .soundproofing-container
      .soundproofing-info
        h2.soundproofing-title 
          span.title_marked-blue Эффективная 
          span звукоизоляция и шумоизоляция помещений
        p.soundproofing-text Наш партнёр-дистрибьютор "Тихий дом" предоставляет качесвенную звукоизоляцию, виброизоляцию для любого типа помещений, используя современные материалы.
      .soundproofing-benefits
        .soundproofing-benefits__title Наши преимущества
        .soundproofing-benefits-container 
          .soundproofing-benefit
            img.soundproofing-benefit__img(src="assets/images/dest/benefit1.png" alt="benefit-1")
            h4.soundproofing-benefit__title Гарантия
            p.soundproofing-benefit__text Даем гарантию на используемые  материалы и выполненные работы
          .soundproofing-benefit
            img.soundproofing-benefit__img(src="assets/images/dest/benefit2.png" alt="benefit-2")
            h4.soundproofing-benefit__title Качество
            p.soundproofing-benefit__text Работаем только с сертифицированными материалами, прошедшими все испытания
          .soundproofing-benefit
            img.soundproofing-benefit__img(src="assets/images/dest/benefit3.png" alt="benefit-3")
            h4.soundproofing-benefit__title Опыт
            p.soundproofing-benefit__text С 2017 года звукоизолировано 480 квартир. Подберем и установим самую эффективную систему
          .soundproofing-benefit
            img.soundproofing-benefit__img(src="assets/images/dest/benefit4.png" alt="benefit-4")
            h4.soundproofing-benefit__title «Под ключ»
            p.soundproofing-benefit__text Все услуги в "Одном окне" - собственное сертифицированное производство, проектирование, доставка, монтаж
      .soundproofing-distributor
        .soundproofing-distributor-container 
          img.soundproofing-distributor__img(src="assets/images/dest/silent-home-logo.png" alt="silent-home-logo")
          p.soundproofing-distributor__text Более подробно ознакомисться с поставщиком услдуг пройдя по 
            a.soundproofing-distributor__link(href="https://stopzvuk-shop.ru/" target="_blank") ссылке