.video-presentation 
  video#video.presentation(poster="assets/images/dest/videoposter.jpg")
    source(src="assets/video/video.mp4" type="video/mp4")
  .presentation-wrap
    .video-control
      button#play.video-btn(type="button")