section.work-steps 
  .container 
    .work-steps__title 5 простых шагов навстречу Вашей мечте
    .work-steps-line
      .work-step 1
      .work-step 2
      .work-step 3 
      .work-step 4
      .work-step 5
    .work-steps-measure-call
      button.work-steps-measure-call__btn Вызвать замерщика
      p.work-steps-measure-call Мы настроены на дальнейшую многолетнюю и плодотворную работу, а потому дорожим своей репутацией и строго контролируем качество выполнения заказа на всех его этапах!