section.work-steps 
  .container 
    .work-steps-line-container
      .work-steps__title 
        span.title_marked 5 простых шагов 
        span навстречу Вашей мечте
      ul.work-steps-line
        li.work-step
          .icon-wrap
            i.icon.fas.fa-file-medical
          p.work-step__name заявка
          p.work-step__text Для бесплатного вызова замерщика Отправьте заявку
        li.work-step
          .icon-wrap
            i.icon.fas.fa-calculator
          p.work-step__name Расчёт
          p.work-step__text Считаем смету ремонта с учетом оптовых скидок
        li.work-step
          .icon-wrap
            i.icon.fas.fa-file-signature
          p.work-step__name Договор
          p.work-step__text Согласовываем стоимость и сроки, заключаем договор
        li.work-step
          .icon-wrap
            i.icon.fas.fa-paint-roller
          p.work-step__name Работа
          p.work-step__text Мастера выполняют ремонт по СНИП, соблюдая сроки 
        li.work-step
          .icon-wrap
            i.icon.fas.fa-thumbs-up
          p.work-step__name Завершение
          p.work-step__text Наслаждайтесь новой уютной атмосферой
    .work-steps-measure-call
      a.btn.work-steps__btn(onclick="document.getElementById('id01').style.display='block'") оформить