section.work-steps 
  .container 
    .work-steps-line-container
      .work-steps__title 5 простых шагов навстречу Вашей мечте
      ul.work-steps-line
        li.work-step
          i.icon.fas.fa-file-medical
          p.work-step__name заявка
          p.work-step__text Для бесплатного вызова замерщика Отправьте заявку
        li.work-step
          i.icon.fas.fa-file-medical
          p.work-step__name Расчёт
          p.work-step__text Считаем смету ремонта с учетом оптовых скидок
        li.work-step
          i.icon.fas.fa-file-medical
          p.work-step__name Договор
          p.work-step__text Согласовываем стоимость и сроки, заключаем договор
        li.work-step
          i.icon.fas.fa-file-medical
          p.work-step__name Работа
          p.work-step__text Мастера выполняют ремонт по СНИП, соблюдая сроки 
        li.work-step
          i.icon.fas.fa-file-medical
          p.work-step__name Завершение
          p.work-step__text Наслаждайтесь новой уютной атмосферой :)
    .work-steps-measure-call
      button.work-steps-measure-call__btn Вызвать замерщика
      p.work-steps-measure-call Мы настроены на дальнейшую многолетнюю и плодотворную работу, а потому дорожим своей репутацией и строго контролируем качество выполнения заказа на всех его этапах!