.work-steps-line
  display: flex
  flex-direction: row
  gap: 0 150px
  margin: 40px 0
  &::after
    content: ''
    position: absolute
    display: block
    height: 4px
    width: 100%
    background-color: #000
    vertical-align: bottom

.work-step
  font-size: 40px