section.services 
  .container 
    .services-header 
      h2.services-header__title наши услуги
      p.services-header__text Мы оказываем широкий спектр строительных и ремонтно-отделочных работ любой сложности. От легкого косметического до масштабного дизайнерского ремонта на самом высоком уровне. Мы подобрали для Вас команду лучших специалистов любого профиля высшей квалификации, имеющих многолетний опыт работы в сфере строительства.
      button.services-header__calc-link.button-7 
        span Рассчитать
    .services-container 
      .service
        h3.service-name Косметический ремонт
        p.service-description Наименее затратный способ в сжатые сроки обновить интерьер. Улучшает внешний вид помещения.
        button.service-info__btn.button-5 
          span.link-content Подробнее
        span.service-price от 1900 руб/м
          sup 2
      .service
        h3.service-name Капитальный 
          p ремонт
        p.service-description Применяется при желании кардинально обновить интерьер помещений и заменить коммуникации.
        button.service-info__btn.button-5 
          span.link-content Подробнее
        span.service-price от 4500 руб/м
          sup 2
      .service
        h3.service-name Дизайнерский 
          p ремонт
        p.service-description Создание авторского дизайн-проекта с применением отделочных материалов премиум-класса.
        button.service-info__btn.button-5 
          span.link-content Подробнее
        span.service-price от 5600 руб/м
          sup 2

