section.services 
  .container 
    .services-description 
      h2.services-description__title наши услуги
      p.services-description__text Мы оказываем широкий спектр строительных и ремонтно-отделочных работ любой сложности. От легкого косметического до масштабного дизайнерского ремонта на самом высоком уровне. Мы подобрали для Вас команду лучших специалистов любого профиля высшей квалификации, имеющих многолетний опыт работы в сфере строительства.
      button.
    .services-container 
      .service
        h3.service-name
        p.service-description 
        button.service-info__btn 
        span.service-price от 1900 руб/м
          sup 2
      .service
        h3.service-name
        p.service-description
        button.service-info__btn
        span.service-price от 4500 руб/м
          sup 2
      .service
        h3.service-name
        p.service-description
        button.service-info__btn
        span.service-price от 5600 руб/м
          sup 2

