.services
  width: 100%
  min-height: 800px

.services::before
  content: ""
  position: absolute
  display: block
  width: 100%
  height: auto
  min-height: 800px
  background: url(../images/dest/services.jpg) no-repeat center
  background-size: cover
  filter: brightness(40%)
  z-index: -5

.services-header 
  display: grid
  justify-items: center
  &__title
    font-family: "Roboto", sans-serif
    font-size: 42px
    font-weight: 600
    color: #fff
    text-align: center
    padding: 20px 0
    text-transform: uppercase
  &__text
    font-family: "Rubik", sans-serif
    font-size: 18px
    font-weight: 500
    color: #fff
    text-align: center
    width: 50%
  &__calc-link
    font-family: "Rubik", sans-serif
    font-size: 18px
    font-weight: 500
    text-transform: uppercase

.services-container
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-evenly


.service
  display: flex
  flex-direction: column
  max-width: 300px

.service-name
  font-family: "Roboto", sans-serif
  font-size: 24px
  color: #fff
  text-align: center
  text-transform: uppercase

.service-description
  font-family: "Rubik",sans-serif
  font-size: 18px
  color: #fff
