.top-nav
    nav.top-nav-wrap 
      // -----------------------
      // Site logo & mobile menu
      // -----------------------
      .top-nav-logo
        .logo-container 
          img.logo-img(src="assets/images/dest/logo-2.png" alt="logo-img")
          //- h1.logo__name 
        // ----------------------
        // Mobile navigation menu
        // ----------------------
        .top-nav-dropdown-menu
            button.top-nav-dropdown-menu__btn меню
              i.fas.fa-caret-down
            .top-nav-dropdown-menu__content
              ul.top-nav-dropdown-menu__list.cl-effect-8
                each name in ["Главная", "Услуги", "Портфолио", "Контакты"]
                  li.top-nav-dropdown-menu__item
                    a.top-nav-dropdown-menu__link(href="#")=name
      // --------------- 
      // Navigation menu 
      // --------------- 
      .top-nav-menu
        each name in ["Главная", "Услуги", "Портфолио", "Контакты"]
          ul.top-nav-menu__list.cl-effect-8
            li.top-nav-menu__item
              a.top-nav-menu__link(href="#")=name
      // ------------------------------ 
      // Recall button & telefon number 
      // ------------------------------ 
      .top-nav-recall(onclick="document.getElementById('id01').style.display='block'")
        .top-nav-recall-wrap
          .top-nav-recall__btn Заказать звонок
          .top-nav-recall__tel 8 (991) 021-22-60
      // ---------- 
      // Modal form 
      // ---------- 
      #id01.recall.modal
        form.recall-form(action="recall-action.php" method="post")
          span.recall-form__close-btn(onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal") &times;
          .recall-form-container
            label.recall-form__input-name(for="name") Ваше имя
            input.recall-form__input(type="text" id="name" name="name")
            label.recall-form__input-name(for="phone") Введите номер телефона
            input.recall-form__input(type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" value="+7 | ")
            label.recall-form__input-name(for="time-date") Укажите дату и время звонка
            .recall-form__date-time-container
              input.recall-form__input-time(type="time" id="time" name="time-date")
              input.recall-form__input-date(type="date" id="date" name="time-date")
            a.btn Заказать звонок
