.top-nav 
  position: absolute
  top: 20px
  width: 100%

.top-nav-wrap 
  display: flex
  flex-direction: row
  justify-content: space-evenly
  align-items: center

.logo-container
  .logo
    &__name
      font-family: "Roboto", sans-serif
      font-size: 24px
      font-weight: 500
      font-style: italic
      color: #fff
      text-transform: uppercase
      letter-spacing: 1px

.logo__name
  &::before,
  &::after
    content: ""
    position: absolute
    background-color: #2f93e6
    height: 27px
    width: 112px
    transform: skewX(-15deg)
    -webkit-transform: skewX(-15deg)
    -o-transform: skewX(-15deg)
    -moz-transform: skewX(-15deg)
    left: 6.7%
    z-index: -1
  &::before
    background-color: #f80101
    width: 255px

.top-nav-menu
  display: flex
  flex-direction: row
  justify-content: space-between
  &__item
    margin: 0 10px
    padding: 5px
    border: 2px solid transparent
    transition-delay: .1s
    transition-duration: .4s
    &:hover
      border: 2px solid #fac106
      .top-nav-menu__link
        color: #fac106
        text-shadow: 1px 1px 5px #000
        
  &__link
    font-family: "Roboto", sans-serif
    font-size: 24px
    font-weight: 500
    text-decoration: none
    text-transform: uppercase
    color: #fff
    transition-delay: .1s
    transition-duration: .4s

.top-nav-recall 
  display: flex
  flex-direction: row 
  align-items: center
  gap: 0 10px
  cursor: pointer
  &::before
    font-family: FontAwesome
    content: "\f87b"
    font-size: 60px
    color: #2f93e6
  &__btn,
  &__tel
    font-family: "Roboto", sans-serif
    font-size: 24px
    font-weight: 500
    color: #fff

.recall-form
  display: none
  flex-direction: column
  gap: 20px 0