.top-nav 
  position: absolute
  top: 20px
  width: 100%
  z-index: 5

.top-nav-wrap 
  display: flex
  flex-direction: row
  align-items: center
  margin: 0 auto

// ----
// LOGO
// ----
.top-nav-logo
  display: flex
  flex-direction: row

.logo-container
  display: flex
  flex-direction: row
  align-items: center

.logo-img
  width: 400px

.logo__name
  font-family: "Roboto", sans-serif
  font-weight: 500
  font-style: italic
  color: #fac106
  text-transform: uppercase
  letter-spacing: 1px

.top-nav-menu
  display: flex
  flex-direction: row
  justify-content: space-between
  &__item
    margin: 0 10px
    padding: 5px
    border: 2px solid transparent
    transition-delay: .1s
    transition-duration: .4s
    &:hover
      border: 2px solid #fac106
      .top-nav-menu__link
        color: #fac106
        text-shadow: 1px 1px 5px #000       
  &__link
    font-family: "Roboto", sans-serif
    font-size: 24px
    font-weight: 500
    text-decoration: none
    text-transform: uppercase
    color: #fff
    transition-delay: .1s
    transition-duration: .4s

// -------------
// Dropdowm menu
// -------------

.top-nav-dropdown-menu
  display: block
  margin-left: 20px
  &__btn
    font-family: "Roboto", sans-serif
    font-size: 30px
    font-weight: 500
    color: #fac106
    text-transform: uppercase
    background-color: transparent
    border: none

.fa-caret-down
  margin-left: 10px

.top-nav-dropdown-menu
  &__content
    display: none
    position: absolute
    background-color: #0000004d
  &__item
    font-family: "Roboto", sans-serif
    font-size: 22px
    text-transform: uppercase
    padding: 10px 5px
    border: 1px solid transparent
    &:hover,
    &:active
      border-color: #fac106
      .top-nav-dropdown-menu__link
        color: #fac106
  &__link
    color: #fff
    text-decoration: none
    
.top-nav-dropdown-menu:hover .top-nav-dropdown-menu__content,
.top-nav-dropdown-menu__content:hover
  display: block

// -----------
// Recall form
// -----------

.top-nav-recall 
  display: flex
  flex-direction: row 
  align-items: center
  gap: 0 15px
  cursor: pointer
  margin-right: 20px
  padding: 8px
  border-radius: 10px
  transition-delay: .1s
  transition-duration: .4s
  &::before
    font-family: FontAwesome
    content: "\f87b"
    font-size: 60px
    color: #fac106
  &::after
    font-family: FontAwesome
    content: "\f40c"
    font-size: 60px
    color: #06fa1a
  &__btn,
  &__tel
    font-family: "Montserrat", sans-serif
    font-weight: 600
    color: #fff
    line-height: 1.2em
    transition-delay: .1s
    transition-duration: .4s

.top-nav-recall:hover
  box-shadow: 3px 3px 15px rgba(0, 0, 0, .8)
  .top-nav-recall__btn,
  .top-nav-recall__tel
    color: #fac106

// ----------
// Adaptivity
// ----------

// -------------------------------
// Screen resolution 320px - 600px
//--------------------------------

@media (min-width: 320px)
  .top-nav-wrap 
    width: 320px
    justify-content: space-between
    
  .top-nav-menu,
  .logo__name,
  .top-nav-recall-wrap
      display: none 

// -------------------------------
// Screen resolution 600px - 800px
//--------------------------------

@media (min-width: 600px)
  .top-nav-wrap 
    width: 600px
    justify-content: space-evenly
  .logo__name,
  .top-nav-dropdown-menu__btn,
  .top-nav-recall-wrap
    display: block
    font-size: 24px

  .top-nav-recall
    &::before
      font-size: 40px
    &__btn,
    &__tel
      font-size: 20px

// --------------------------------
// Screen resolution 800px - 1000px
//---------------------------------

@media (min-width: 800px)
  .top-nav-wrap 
    width: 800px

  .logo__name,
  .top-nav-dropdown-menu__btn
    font-size: 28px

  .top-nav-recall
    &::before
      font-size: 40px
    &__btn,
    &__tel
      font-size: 20px

// ---------------------------------
// Screen resolution 1000px - 1200px
//----------------------------------

@media (min-width: 1000px)
  .top-nav-wrap 
    width: 1000px

  .logo__name
    font-size: 30px

  .top-nav-menu     
    &__link
      font-size: 22px

  .top-nav-recall
    &::before
      font-size: 40px
    &__btn,
    &__tel
      font-size: 20px

// ---------------------------------
// Screen resolution 1200px - 1600px
//----------------------------------

@media (min-width: 1200px)
  .top-nav-wrap 
    width: 1200px

  .logo__name
    font-size: 28px

  .top-nav-menu   
    display: flex
    &__link
      font-size: 22px

  .top-nav-dropdown-menu
    display: none

  .top-nav-recall
    &::before
      font-size: 40px
    &__btn,
    &__tel
      font-size: 20px

// ---------------------------------
// Screen resolution 1600px - 1920px
//----------------------------------

@media (min-width: 1600px)
  .top-nav-wrap 
    width: 1600px

  .logo__name
    font-size: 36px

  .top-nav-menu      
    &__link
      font-size: 28px

  .top-nav-recall
    &::before
      font-size: 60px
    &__btn,
    &__tel
      font-size: 24px

// --------------------------
// Screen resolution > 1920px
//---------------------------

@media (min-width: 1920px)
  .top-nav-wrap 
    width: 1920px

  .logo__name
    font-size: 48px

  .top-nav-menu      
    &__link
      font-size: 32px

  .top-nav-recall
    &::before
      font-size: 80px
    &__btn,
    &__tel
      font-size: 28px


