doctype html
html(lang="ru en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Мастер Отделкин
    // ------------------- 
    // Styles & animations 
    // ------------------- 
    link(rel="stylesheet", href="assets/css/reset.css")
    link(rel="stylesheet", href="assets/css/google-fonts.css")
    link(rel="stylesheet", href="assets/css/main.min.css")
    link(rel="stylesheet", href="assets/css/animate.min.css")
  body.page
    //- include ../blocks/top-nav/top-nav.pug
    //- include ../blocks/header/header.pug
    //- include ../blocks/calculator/calculator.pug
    include ../blocks/discount/discount.pug
    include ../blocks/portfolio/portfolio.pug
    //- include ../blocks/services/services.pug
    //- include ../blocks/video-presentation/video-presentation.pug
    //- include ../blocks/work-steps/work-steps.pug
    //- include ../blocks/about-us/about-us.pug
    //- include ../blocks/contacts/contacts.pug
    // ------------------- 
    // Scripts & libraries 
    // ------------------- 
    //- script(src="assets/js/wow.min.js")
    script(src="assets/js/main.js")
    script(src="https://kit.fontawesome.com/36446de779.js" crossorigin="anonymous") 
    