doctype html
html(lang="ru en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Deloremontov.ru
    // ------------------- 
    // Styles & animations 
    // ------------------- 
    link(rel="stylesheet", href="assets/css/reset.css")
    link(rel="stylesheet", href="assets/css/google-fonts.css")
    link(rel="stylesheet", href="assets/css/main.min.css")
    link(rel="stylesheet", href="assets/css/animate.min.css")
    link(rel="shortcut icon" href="assets/images/src/favicon.ico" type="image/x-icon")
    include ../blocks/vk-chat/vk.html
  body.page
    include ../blocks/extra-page-header/extra-page-header.pug
    include ../blocks/top-nav-extra/top-nav-extra.pug
    include ../blocks/soundproofing-content/soundproofing-content.pug
    // ------------------- 
    // Scripts & libraries 
    // ------------------- 
    script(src="assets/js/wow.min.js")
    script(src="assets/js/main.min.js")
    script(src="https://kit.fontawesome.com/36446de779.js" crossorigin="anonymous") 
    script(src="assets/js/jquery.maskedinput.min.js")