section.about-us
  .container 
    // ---------------
    // About us header
    // ---------------
    .cleaning-container
      .cleaning-info
        h2.cleaning-title 
          span.title_marked Качественная 
          span чистка и уборка помещений
        p.cleaning-text Уборка квартир, домов, офисов, любых помещений в Санкт-Петербурге. выполняем свою работу быстро, качественно, надёжно.
    .about-us-container 
      .about-us-info 
        h2.about-us-info__title Что 
          span.title_marked мы предлагаем 
        p.about-us-info__text Наша компания предлагает услуги уборки квартир и качественный клининг коттеджей в Санкт-Петербурге и в ЛО. Гарантия качества, оплата после результата. Свои инвентарь и моющие средства.
      // -------------------------
      // Advantage table container
      // -------------------------
      .about-us-advantages-container
        ul.about-us-advantages-table
          li.cleaning-box 
            .cleaning-box-wrap
              h4.cleaning-box__title Оперативно 
              p.cleaning-box__text Убираем даже сегодня при наличии свободных клинеров
          li.cleaning-box 
            .cleaning-box-wrap
              h4.cleaning-box__title Привезем 
              p.cleaning-box__text Моющие эко-средства и инвентарь. Пылесос и стремянку
          li.cleaning-box 
            .cleaning-box-wrap
              h4.cleaning-box__title Гарантируем 
              p.cleaning-box__text Устранение недочетов бесплатно, страхуем ответственность
          li.cleaning-box 
            .cleaning-box-wrap
              h4.cleaning-box__title Честная цена
              p.cleaning-box__text Не выдумываем дополнительные услуги по ходу уборки
          li.cleaning-box 
            .cleaning-box-wrap
              h4.cleaning-box__title Безопасность
              p.cleaning-box__text Наши клинеры работают в масках и соблюдают все меры предосторожности при COVID-19
          li.cleaning-box 
            .cleaning-box-wrap
              h4.cleaning-box__title Качество
              p.cleaning-box__text Мы используем только высококачественные материалы для уборки вашего дома, а уборкой занимаются опытные клинеры
    // --------
    // Services
    // --------
    .cleaning-benefits
      .cleaning-benefits__title Наши услуги
      .cleaning-benefits-container 
        .cleaning-benefit
          img.cleaning-benefit__img(src="assets/images/dest/cleaning-2.jpeg" alt="cleaning-1")
          h4.cleaning-benefit__title Генеральная уборка
          p.cleaning-benefit__text Тщательная уборка помещения от 110 руб. м2.
        .cleaning-benefit
          img.cleaning-benefit__img(src="assets/images/dest/cleaning-3.jpg" alt="cleaning-2")
          h4.cleaning-benefit__title Обычная уборка
          p.cleaning-benefit__text Быстрая, качественная уборка помещения от 90 руб. м2.
        .cleaning-benefit
          img.cleaning-benefit__img(src="assets/images/dest/cleaning-4.jpg" alt="cleaning-3")
          h4.cleaning-benefit__title Уборка после ремонта
          p.cleaning-benefit__text Идеальный порядок после ремонтных работ от 120 руб. м2.
        .cleaning-benefit
          img.cleaning-benefit__img(src="assets/images/dest/cleaning-5.jpg" alt="cleaning-4")
          h4.cleaning-benefit__title Чистка окон и стеклопакетов
          p.cleaning-benefit__text Удаление загрязнений любой сложности от 300 руб.
          

