.discount
  .container 
    .discount-container 
      .discount__text-section 
        .discount__title АКЦИЯ 
          span.discount__subtitle Закажи ремонт сейчас и получи
        .discount__text Сроки действия акции ограничены
      .discount-wrap
        .discount-inner
          .discount-block
            h3 10%
              span  скидка
      .ribbon-wrap
        .ribbon6 До 01.01.2022
      .discount-btn-wrap
        button.discount-btn
          span.discount-btn__text Заказать