.discount
  .container 
    .discount-container 
      .discount__text-section 
        .discount__title Делайте ремонт с нами!
          ul.discount__list
            li.discount__item Технический проект
            li.discount__item Смета
            li.discount__item Консультация
            li.discount__item Подбор материала
            li.discount__item Аванс
        .discount__text Гарантия на ремонт 2 года
      // --------
      // DISCOUNT 
      // --------
      .discount-inner
        .discount-block
          h3.discount-block__num 0
            span.discount-block__currency  рублей!
      .ribbon-wrap
        .ribbon6 БОНУС
      // ------
      // BUTTON
      // ------
      .discount-btn-wrap
        button.discount-btn(onclick="document.getElementById('id01').style.display='block'")
          span.discount-btn__text Заказать