.discount
  display: flex
  justify-content: center
  align-items: center
  margin: 0 auto
  background: repeating-linear-gradient(45deg, #e99f17, #d86e17 10px, #e99f17 10px, #e99f17 20px)
  &-container
    position: relative
    display: flex
    flex-direction: row
    justify-content: left
    background-color: #d64f00
    border-radius: 8px
  &__text-section 
    display: flex
    flex-direction: column
    align-self: center
    padding-left: 60px
    margin-top: 35px
  &__title
    font-family: "Roboto"
    font-weight: 600
    color: #ffee00
  &__subtitle
    color: #fff
    text-transform: uppercase
  &__text
    font-family: "Montserrat"
    font-size: 18px
    font-weight: 600
    color: #fff
    padding-top: 15px

// ------
// BUTTON
// ------

.btn
  position: relative
  font-family: 'Montserrat Alternates', sans-serif
  color: white
  font-weight: 600
  background: #ecd500
  border-width: 0
  outline: none
  cursor: pointer
  border: none
  background-color: transparent

.btn:before, .btn:after 
  content: ""
  position: absolute
  height: 50%
  width: 100%
  background: #ecd500
  transition: .3s cubic-bezier(.75, .24, .01, .9)

.btn:before 
  top: 0

.btn:after 
  bottom: 0

.btn2, .btn2:before, .btn2:after 
  background: #1f0b2f

.discount-btn__text 
  font-family: "Rubik", sans-serif
  font-weight: 700
  text-transform: uppercase
  position: relative
  z-index: 2
  color: #810000

// --------
// DISCOUNT 
// --------
.discount-wrap 
  min-width: 200px
  width: 60%
  height: 150px
  padding: 15px
  background: #ffffff
  border-radius: 3px
  box-shadow: 0 1px 2px rgba(0,0,0,0.07)

.discount-inner 
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  background: #d64f00

.discount-block 
  border: 8px solid #f9f7f6
  border-radius: 3px
  display: inline-block

.discount-block h3 
  line-height: 1
  padding: 10px 15px
  margin: 5px
  background: #2d3549
  font-weight: 600
  color: #f9f7f6
  font-family: 'Days One', sans-serif
  transform: rotate(-2deg)

.discount-block span 
  display: block
  text-transform: uppercase
  font-size: 20px
  letter-spacing: 2px

// ------
// RIBBON
// ------
.ribbon-wrap
  width: 100%
  height: 250px
  position: absolute
  top: -8px
  left: 8px
  overflow: hidden

.ribbon-wrap:before, .ribbon-wrap:after 
  content: ""
  position: absolute

.ribbon-wrap:before
  width: 40px
  height: 8px
  right: 165px
  background: #4D6530
  border-radius: 8px 8px 0px 0px

.ribbon-wrap:after
  width: 8px
  height: 40px
  right: 0px
  top: 165px
  background: #4D6530
  border-radius: 0px 8px 8px 0px

.ribbon6
  width: 300px
  height: 40px
  line-height: 40px
  position: absolute
  top: 50px
  right: -60px
  z-index: 2
  overflow: hidden
  -webkit-transform: rotate(45deg)
  transform: rotate(45deg)
  border: 1px dashed
  box-shadow:0 0 0 3px #ff9100,  0px 21px 5px -18px rgba(0,0,0,0.6)
  background: #fddb1b
  text-align: center
  text-transform: uppercase
  font-family: "Montserrat", sans-serif
  font-size: 18px
  font-weight: 600
  color: #e00000

// ----------
// Adaptivity
// ----------

// -------------------------------------
// Screen resolution from 320px to 900px
// -------------------------------------
@media (min-width: 320px)
  .discount
    &-container
      width: 100%
      flex-direction: column
      margin: 20px auto
      padding: 10px 0
    &__text-section 
      display: none

  .discount-wrap 
    margin: 10px auto

  .discount-block h3 
    line-height: 1
    padding: 10px 15px
    margin: 5px
    background: #2d3549
    font-size: 60px

  // ------
  // RIBBON
  // ------
  .ribbon6
    top: 30px
    right: -95px
  
  .ribbon-wrap:before
    right: 108px

  .ribbon-wrap:after
    top: 108px

  .discount-btn-wrap
    margin: 0 auto

  // ------
  // BUTTON
  // ------
  .btn
    padding: 10px 20px
    margin: 0 10px
  
  .discount-btn__text 
    font-size: 24px

  .btn:before 
    top: 0
    right: -3px

  .btn:after 
    bottom: 0
    left: -3px

  .btn:hover:before 
    transform: translateX(-3px)

  .btn:hover:after
    transform: translateX(3px)

// -------------------------------------
// Screen resolution from 900px to 1200px
// -------------------------------------
@media (min-width: 900px)
  .discount
    &-container
      width: 100%
      flex-direction: row
      align-items: center
      margin: 20px auto
      padding: 10px 0
    &__text-section 
      display: block
    &__title
      font-size: 22px

  .discount-wrap 
    margin: 10px
    width: 30%

  .discount-block h3 
    line-height: 1
    padding: 10px 15px
    margin: 5px
    background: #2d3549
    font-size: 60px

  // ------
  // RIBBON
  // ------
  .ribbon6
    top: 30px
    right: -95px
  
  .ribbon-wrap:before
    right: 108px

  .ribbon-wrap:after
    top: 108px

  // ------
  // BUTTON
  // ------
  .discount-btn-wrap
    margin: 0 auto


  .btn
    padding: 10px 20px
    margin: 0 10px
  
  .discount-btn__text 
    font-size: 32px

  .btn:before 
    top: 0
    right: -3px

  .btn:after 
    bottom: 0
    left: -3px

  .btn:hover:before 
    transform: translateX(-3px)

  .btn:hover:after
    transform: translateX(3px)

// --------------------------------------
// Screen resolution from 1200px to 1600px
// --------------------------------------
@media (min-width: 1200px)
  .discount
    &-container
      width: 100%
      flex-direction: row
      align-items: center
      margin: 60px 0
      padding: 50px 0
    &__text-section 
      display: block
    &__title
      font-size: 38px

  .discount-wrap 
    margin: 10px

  .discount-block h3 
    font-size: 60px

  // ------
  // RIBBON
  // ------
  .ribbon6
    width: 300px
    height: 40px
    top: 50px
    right: -60px
  
  .ribbon-wrap:before
    right: 165px

  .ribbon-wrap:after
    top: 108px
    top: 165px

  // ------
  // BUTTON
  // ------
  .discount-btn-wrap
    margin: auto 0
    margin-right: 70px

  .btn
    padding: 25px 40px
    margin: 0 20px
  
  .discount-btn__text 
    font-size: 36px

  .btn:before 
    top: 0
    right: -8px

  .btn:after 
    bottom: 0
    left: -8px

  .btn:hover:before 
    transform: translateX(-8px)

  .btn:hover:after
    transform: translateX(8px)

// ----------------------------------------
// Screen resolution from 1600px and higher
// ----------------------------------------
@media (min-width: 1920px)
  .discount
    max-width: 1920px


