.discount
  .container 
    .discount-container 
      .discount__text-section 
        .discount__title.animate__backInLeft.wow АКЦИЯ
          span  Закажи ремонт сейчас и получи
        .discount__text.animate__backInRight.wow Сроки действия акции ограничены
      .discount-wrap
        .discount-inner
          .discount-block
            h3 30%
              span  скидка
      .ribbon-wrap
        .ribbon6 До 01.01.2022
      .discount-btn-wrap
        button.btn.discount-btn
          span.discount-btn__text Заказать